<div class="container">
    <div class="image">
        <!-- <p>Hi</p> -->
    </div>
    <div class="form">
        <form action="">
            <h2>Reset Password</h2>
            <label for="password">New Password</label>
            <input type="password" placeholder="New Password" required>
            <label for="password">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" required>
            <button>Submit</button>
        </form>
    </div>
</div>

