<div class="container">
    <div class="header">
        <div class="div">
            <p>Citizen<br>Connect360</p>
        </div>
        <div class="createacc">
            <a [routerLink]="['register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Create Account</a>
        </div>
    </div>
    <div class="content">
        <p>Welcome to <b><i>CitizenConnect360</i></b> - your hub for engaging with government processes.
            <br>Stay informed with easy access to government documents, report incidents, share feedback, and participate in public polls. 
            <br>Together, let's make our voices heard and drive positive change.
            <br>Create an account today to get started.</p>
    </div>
</div>
