<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to [Your Website Name]!</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
        body {
            font-family: "Encode Sans", sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding: 20px 0;
            background-color: black;
        }
        .header h1 {
            margin: 0;
            color: white;
        }
        .content {
            padding: 20px;
            color: black;
            line-height: 1.6;
        }
        .content h2 {
            color: #333333;
        }
        .content p {
            margin: 0 0 10px;
        }
        .content a{
            align-items: center;
        }
        .footer {
            background-color: #f90120;
            text-align: center;
            padding: 20px 0;
            color: white;
            font-size: 14px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #006d24;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            margin-left: 40%;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Welcome to Citizen Connect360!</h1>
      <p>Forgot Password Email</p>
    </div>
    <div class="content">
        <p>Don't worry! Just enter your email address below, and we'll send you a link to a form that will help you to reset your password.</p>
        <input type="email" class="input-field" placeholder="Enter your email" required>
        <br>
        <button class="btn">Send Reset Link</button>
        <a href="[Call to Action URL]" class="button">Back to Log In</a>
    </div>
    <div class="footer">
      <h2>Warm regards,</h2>
      <h2>The Citizen Connect360 Team</h2>
    </div>
  </div>
</body>
</html>





