<div class="container">
    <div class="form">
        <h1>CREATE ACCOUNT</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <label for="username">Username</label>
            <span *ngIf="form.get('username')?.touched && !form.get('username')?.valid"><i>Username is required!!!!</i></span>
            <input type="text" formControlName="username" placeholder="Username" required>
            <label for="email">Email</label>
            <span *ngIf="form.get('email')?.touched && !form.get('email')?.valid"><i>Email is required!!!!</i></span>
            <input type="email" formControlName="email" placeholder="Email"  required>
            <label for="password">Password</label>
            <span *ngIf="form.get('password')?.touched && !form.get('password')?.valid"><i>Password is required!!!!</i></span>
            <input type="password" formControlName="password" placeholder="Password" required>
            <div class="terms">
                <input type="checkbox" name="terms" id="terms">
                <label for="terms">I agree to the terms and services, policy and fees</label>
            </div>
            <button [disabled]="!form.valid" type="submit">SIGN UP</button>
            <p>Already have an account?<a [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Log in</a></p>
        </form>
    </div>
    <div class="image">
    </div>
</div>
