<div class="container">
    <div class="navbar">
        <!-- <p>Left Side</p> -->
        <div class="image">
            <!-- fag of kenya image -->
        </div>
        <div class="logo">
            <p>CITIZEN<br>CONNECT 360</p>
        </div>
        <div class="menu">
            <div class="dashboard">
                <img src="../../assets/dashboard-solid-24.png"><a [routerLink]="['/govdashboard']">Dashboard</a>
            </div>
            <div class="incident">
                <img src="../../assets/alarm-exclamation-regular-24.png"><a [routerLink]="['/govincident']">Incident</a>
            </div>
            <div class="polls">
                <img src="../../assets/poll-regular-24.png"><a [routerLink]="['/govpolls']">Polls</a>
            </div>
            <div class="views">
                <img src="../../assets/conversation-regular-24.png"><a [routerLink]="['/govviews']">Views</a>
            </div>
        </div>
        <div class="logout">
            <a href="http://">Log Out</a>
        </div>
    </div>
    <div class="content">
        <div class="title">
            <p><u>POLL RESULTS</u></p>
        </div>
        <div class="question">
            <p>Question</p>
            <p>Actual Question</p>
            <p>Choices</p>
        </div>
        <div class="statistics">
            <div class="heading">
                <p><u>Poll Statistics</u></p>
            </div>
            <div class="totalvotes">
                <p>No of Total Votes:</p>
                <p>200</p>
            </div>
            <div class="choiceavotes">
                <p>Choice a votes:</p>
                <p>100</p>
            </div>
            <div class="choicebvotes">
                <p>Choice b votes:</p>
                <p>100</p>
            </div>
            
        </div>
    </div>
</div>


